<a href="https://colab.research.google.com/github/singhbhupender1/ML-notebooks/blob/master/Spark_SQL_and_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget https://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark
!ls

--2020-06-01 22:22:17--  https://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
Resolving archive.apache.org (archive.apache.org)... 138.201.131.134, 2a01:4f8:172:2ec5::2
Connecting to archive.apache.org (archive.apache.org)|138.201.131.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 225883783 (215M) [application/x-gzip]
Saving to: ‘spark-2.3.1-bin-hadoop2.7.tgz’

spark-2.3.1-bin-had 100%[===================>] 215.42M  25.2MB/s    in 9.4s

2020-06-01 22:22:27 (22.9 MB/s) - ‘spark-2.3.1-bin-hadoop2.7.tgz’ saved [225883783/225883783]

sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [2]:
 #!java -version

openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu218.04, mixed mode, sharing)

In [3]:
 ! update-alternatives --config java

There are 2 choices for the alternative java (providing /usr/bin/java).

  Selection    Path                                            Priority   Status
------------------------------------------------------------
* 0            /usr/lib/jvm/java-11-openjdk-amd64/bin/java      1111      auto mode
  1            /usr/lib/jvm/java-11-openjdk-amd64/bin/java      1111      manual mode
  2            /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java   1081      manual mode

Press <enter> to keep the current choice[*], or type selection number: 2
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

In [11]:
import findspark
findspark.init()

from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from csv import reader
import pandas as pd

conf = SparkConf().setMaster("local[*]").setAppName('pyspark')
sc = SparkContext(conf=conf)

ValueError: ignored

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [14]:
spark

In [0]:
data_path = '/data'

In [0]:
file_path = "./location_temp.csv"
df1 = spark.read.format("csv").option("header", "true").load(file_path)

In [17]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [18]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [19]:
df1.count()

500000

In [0]:
file_path_no_header = "./utilization.csv"
df2 = spark.read.format("csv").option("header", "false").option("inferSchema","true").load(file_path_no_header)

In [21]:
df2.count()

500000

In [22]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [0]:
df2 = df2.withColumnRenamed("_c0", "event_datetime") \
        .withColumnRenamed ("_c1", "server_id")       \
        .withColumnRenamed("_c2", "cpu_utilization")  \
        .withColumnRenamed("_c3", "free_memory")      \
        .withColumnRenamed("_c4", "session_count")

In [27]:
df2.head(10)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43),
 Row(event_datetime='03/05/2019 08:16:14', server_id=100, cpu_utilization=0.56, free_memory=0.57, session_count=62),
 Row(event_datetime='03/05/2019 08:21:14', server_id=100, cpu_utilization=0.57, free_memory=0.56, session_count=50),
 Row(event_datetime='03/05/2019 08:26:14', server_id=100, cpu_utilization=0.35, free_memory=0.46, session_count=43),
 Row(event_datetime='03/05/2019 08:31:14', server_id=100, cpu_utilization=0.41, free_memory=0.58, session_count=48),
 Row(event_datetime='03/05/2019 08:36:14', server_id=100, cpu_utilization=0.57, free_memory=0.35, session_count=58),
 Row(event_datetime='03/05/2019 08:41:14', server_id=100, cpu_utilization=0.41, free_memory=0.4, session_count=58),
 Row(event_datetime='03/05/2019 08:46:14', server_id=100, cpu_utilization=0.53, free_memory=0.35, session_count=62),
 Row(event_datetime='03/05/2019 08:51:14', server_id=100, cpu_utilization=0.51, free_memory=0.6, session_count=45)]

In [26]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [0]:
json_df1_path =  "./location_temp.json"
df1.write.json(json_df1_path)

In [0]:
json_df2_path = "./utilization.json"
df2.write.json(json_df2_path)

In [0]:
json_df1_path = "./location_temp.json"
df1 = spark.read.format("json").load(json_df1_path)

In [0]:
json_df2_path = "./utilization.json"
df2 = spark.read.format("json").load(json_df2_path)

In [33]:
df1.count()

500000

In [35]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [36]:
!ls .

location_temp.csv   server_name.csv		   spark-warehouse
location_temp.json  spark-2.3.1-bin-hadoop2.7	   utilization.csv
sample_data	    spark-2.3.1-bin-hadoop2.7.tgz  utilization.json

In [37]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [38]:
df2.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [39]:
df1.describe()

DataFrame[summary: string, event_date: string, location_id: string, temp_celcius: string]

In [40]:
df2.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [0]:
df2_sample = df2.sample(False, fraction=0.1)

In [42]:
df2_sample.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.39|03/05/2019 11:36:14|       0.54|      100|           70|
|           0.64|03/05/2019 11:56:14|       0.62|      100|           68|
|            0.5|03/05/2019 12:16:14|        0.5|      100|           51|
|            0.5|03/05/2019 12:41:14|       0.38|      100|           44|
|           0.41|03/05/2019 13:51:14|       0.59|      100|           67|
|            0.6|03/05/2019 15:46:14|       0.56|      100|           38|
|           0.34|03/05/2019 17:26:14|       0.61|      100|           52|
|            0.4|03/05/2019 17:51:14|       0.51|      100|           53|
|           0.63|03/05/2019 18:11:14|       0.59|      100|           67|
|           0.52|03/05/2019 18:56:14|       0.66|      100|           47|
|           0.61|03/05/2019 19:01:14|       0.45|      100|           38|
|           0.41|03/05/2019 19:06:14|        0.4|      100|           59|
|           0.49|03/05/2019 19:41:14|       0.37|      100|           55|
|           0.57|03/05/2019 19:56:14|       0.36|      100|           43|
|           0.53|03/05/2019 20:26:14|       0.41|      100|           46|
|           0.29|03/05/2019 21:01:14|        0.5|      100|           58|
|           0.45|03/05/2019 21:26:14|       0.47|      100|           71|
|           0.43|03/06/2019 00:21:14|       0.63|      100|           53|
|           0.59|03/06/2019 00:36:14|       0.39|      100|           62|
|           0.54|03/06/2019 01:06:14|       0.58|      100|           68|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [0]:
df2_sort = df2_sample.sort('event_datetime')

In [44]:
df2_sort.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.52|03/05/2019 08:07:06|       0.49|      130|           77|
|           0.81|03/05/2019 08:07:12|       0.15|      133|           78|
|            0.8|03/05/2019 08:07:35|       0.21|      145|           94|
|           0.71|03/05/2019 08:07:37|       0.35|      146|           75|
|           0.32|03/05/2019 08:11:24|       0.56|      106|           59|
|           0.78|03/05/2019 08:11:34|       0.14|      112|           83|
|           0.63|03/05/2019 08:11:56|       0.34|      125|           72|
|           0.65|03/05/2019 08:11:58|       0.12|      126|           83|
|           0.55|03/05/2019 08:16:38|        0.6|      114|           61|
|           0.75|03/05/2019 08:16:45|       0.23|      118|           82|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [45]:
df2.describe().show()

+-------+-------------------+-------------------+-------------------+-----------------+------------------+
|summary|    cpu_utilization|     event_datetime|        free_memory|        server_id|     session_count|
+-------+-------------------+-------------------+-------------------+-----------------+------------------+
|  count|             500000|             500000|             500000|           500000|            500000|
|   mean| 0.6205177399999506|               null|0.37912809999999125|            124.5|          69.59616|
| stddev|0.15875173872913045|               null|0.15830931278376167|14.43088412055242|14.850676696352812|
|    min|               0.22|03/05/2019 08:06:14|                0.0|              100|                32|
|    max|                1.0|04/09/2019 01:22:46|               0.78|              149|               105|
+-------+-------------------+-------------------+-------------------+-----------------+------------------+

In [47]:
dir(df2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collectAsArrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_jseq',
 '_lazy_rdd',
 '_sc',
 '_schema',
 '_sort_cols',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'intersect',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'na',
 'orderBy',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'replace',
 'rollup',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'show',
 'sort',
 'sortWithinPartitions',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'take',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withWatermark',
 'write',
 'writeStream']

In [53]:
df2.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.getOrCreate()

In [0]:
file_path = './location_temp.csv'

In [0]:
df1 = spark.read.format('csv').option('header', 'true').load(file_path)

In [58]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [59]:
df1.filter(df1['location_id'] == 'loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [60]:
df1.filter(df1['location_id'] == 'loc0').count()

1000

In [61]:
df1.filter(df1['location_id'] == 'loc1').count()

1000

In [62]:
df1.filter(df1['location_id'] == 'loc1').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [0]:
file_path = './location_temp.csv'
df1 = spark.read.format('csv').option('header', 'true').load(file_path)

In [65]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [66]:
df1.groupby('location_id').count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
|     loc463| 1000|
|     loc150| 1000|
|     loc292| 1000|
|     loc311| 1000|
|      loc22| 1000|
|     loc351| 1000|
|     loc370| 1000|
|     loc419| 1000|
|      loc31| 1000|
|     loc305| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|     loc195| 1000|
|     loc208| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc228| 1000|
+-----------+-----+
only showing top 20 rows

In [68]:
df1.orderBy('location_id').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 20 rows

In [69]:
df1.groupby('location_id').agg({'temp_celcius': 'mean'}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
|     loc463|           23.317|
|     loc150|           32.188|
|     loc292|           29.159|
|     loc311|           24.308|
|      loc22|           28.251|
|     loc351|           28.194|
|     loc370|            29.14|
|     loc419|           29.141|
|      loc31|           25.196|
|     loc305|           27.314|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|     loc195|            27.25|
|     loc208|           26.206|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc228|           27.295|
+-----------+-----------------+
only showing top 20 rows

In [70]:
df1.groupby('location_id').agg({'temp_celcius': 'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|     loc196|               36|
|     loc226|               32|
|     loc463|               30|
|     loc150|               39|
|     loc292|               36|
|     loc311|               31|
|      loc22|               35|
|     loc351|               35|
|     loc370|               36|
|     loc419|               36|
|     loc305|               34|
|      loc31|               32|
|     loc118|               31|
|     loc195|               34|
|     loc208|               33|
|      loc82|               34|
|      loc90|               30|
|     loc228|               34|
|      loc39|               32|
|      loc75|               30|
+-----------+-----------------+
only showing top 20 rows

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [0]:
file_path = './location_temp.csv'
df1 = spark.read.format('csv').option('header', 'true').load(file_path)

In [75]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [76]:
df1.count()

500000

In [0]:
df1_s1 = df1.sample(fraction=0.1, withReplacement=False)

In [81]:
df1_s1.count()

49977

In [82]:
df1_s1.groupby('location_id').agg({'temp_celcius': 'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|29.261682242990656|
|     loc226|24.882882882882882|
|     loc463| 23.51063829787234|
|     loc150| 32.12871287128713|
|     loc292|28.795454545454547|
|     loc311| 24.35514018691589|
|      loc22|28.338983050847457|
|     loc351| 28.20408163265306|
|     loc370|29.206521739130434|
|     loc419|29.321739130434782|
|      loc31|25.316831683168317|
|     loc305|27.242990654205606|
|      loc82|27.376344086021504|
|      loc90|23.166666666666668|
|     loc118|24.433962264150942|
|     loc195|             27.25|
|     loc208|26.037735849056602|
|      loc39|25.128712871287128|
|      loc75|23.300970873786408|
|     loc228|27.517857142857142|
+-----------+------------------+
only showing top 20 rows

In [83]:
df1_s1.groupby('location_id').agg({'temp_celcius': 'mean'}).orderBy('location_id').show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.083333333333332|
|       loc1| 28.15841584158416|
|      loc10|  25.0989010989011|
|     loc100|             26.66|
|     loc101| 25.30952380952381|
|     loc102| 30.51219512195122|
|     loc103|25.194690265486727|
|     loc104|25.894736842105264|
|     loc105| 26.38679245283019|
|     loc106|  27.0873786407767|
|     loc107| 32.94285714285714|
|     loc108|  32.4639175257732|
|     loc109|23.916666666666668|
|      loc11|25.180851063829788|
|     loc110|              26.0|
|     loc111| 31.77227722772277|
|     loc112| 33.40677966101695|
|     loc113| 30.60576923076923|
|     loc114| 29.24778761061947|
|     loc115| 23.16190476190476|
+-----------+------------------+
only showing top 20 rows

In [84]:
df1.groupby('location_id').agg({'temp_celcius': 'mean'}).orderBy('location_id').show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [0]:
file_path = './location_temp.csv'
df1 = spark.read.format('csv').option('header', 'true').load(file_path)

In [90]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [0]:
df1.write.csv('df1.csv')

In [92]:
!ls df1.csv

part-00000-e464737a-cf89-4879-92cf-9c393f61569b-c000.csv  _SUCCESS
part-00001-e464737a-cf89-4879-92cf-9c393f61569b-c000.csv

In [93]:
! head df1.csv/part-00000-e464737a-cf89-4879-92cf-9c393f61569b-c000.csv

03/04/2019 19:48:06,loc0,29
03/04/2019 19:53:06,loc0,27
03/04/2019 19:58:06,loc0,28
03/04/2019 20:03:06,loc0,30
03/04/2019 20:08:06,loc0,27
03/04/2019 20:13:06,loc0,27
03/04/2019 20:18:06,loc0,27
03/04/2019 20:23:06,loc0,29
03/04/2019 20:28:06,loc0,32
03/04/2019 20:33:06,loc0,35

In [0]:
df1.write.json('df1.json')

In [95]:
!ls df1.json

part-00000-0d58c38f-69ef-4429-bb5f-7073eb1b5bba-c000.json  _SUCCESS
part-00001-0d58c38f-69ef-4429-bb5f-7073eb1b5bba-c000.json

In [96]:
! head df1.json/part-00000-0d58c38f-69ef-4429-bb5f-7073eb1b5bba-c000.json

{"event_date":"03/04/2019 19:48:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 19:53:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 19:58:06","location_id":"loc0","temp_celcius":"28"}
{"event_date":"03/04/2019 20:03:06","location_id":"loc0","temp_celcius":"30"}
{"event_date":"03/04/2019 20:08:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:13:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:18:06","location_id":"loc0","temp_celcius":"27"}
{"event_date":"03/04/2019 20:23:06","location_id":"loc0","temp_celcius":"29"}
{"event_date":"03/04/2019 20:28:06","location_id":"loc0","temp_celcius":"32"}
{"event_date":"03/04/2019 20:33:06","location_id":"loc0","temp_celcius":"35"}

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession \
    .builder \
    .appName('Spark SQL Query DataFrame') \
    .getOrCreate()

In [0]:
file_path = './utilization.json'
df = spark.read.format('json').load(file_path)

In [100]:
df.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [101]:
df.count()

500000

In [0]:
df.createOrReplaceTempView('utilization')

In [0]:
df_sql = spark.sql('SELECT * FROM utilization LIMIT 10')

In [109]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [105]:
df_sql.count()

10

In [0]:
df_sql = spark.sql('SELECT server_id, session_count FROM utilization LIMIT 10')

In [110]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [111]:
df_sql = spark.sql("SELECT server_id AS sid, session_count AS sc FROM utilization")
df_sql.show()

+---+---+
|sid| sc|
+---+---+
|100| 47|
|100| 43|
|100| 62|
|100| 50|
|100| 43|
|100| 48|
|100| 58|
|100| 58|
|100| 62|
|100| 45|
|100| 47|
|100| 60|
|100| 57|
|100| 44|
|100| 47|
|100| 66|
|100| 65|
|100| 66|
|100| 42|
|100| 63|
+---+---+
only showing top 20 rows

In [0]:
df.createOrReplaceTempView('utilization')

In [114]:
df_sql = spark.sql("SELECT * FROM utilization WHERE server_id = 120")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [115]:
df_sql.count()

10000

In [116]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE session_count > 70")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           71|
|      100|           72|
|      100|           71|
|      100|           72|
|      100|           72|
|      100|           71|
|      100|           71|
+---------+-------------+
only showing top 20 rows

In [117]:
df_sql.count()

239659

In [0]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE session_count > 70 AND server_id = 120")

In [119]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           71|
|      120|           73|
|      120|           72|
|      120|           78|
|      120|           73|
|      120|           78|
|      120|           73|
|      120|           74|
|      120|           78|
|      120|           75|
|      120|           75|
|      120|           73|
|      120|           79|
|      120|           72|
|      120|           77|
|      120|           75|
|      120|           72|
|      120|           79|
|      120|           75|
+---------+-------------+
only showing top 20 rows

In [120]:
df_sql.count()

2733

In [122]:
df_sql = spark.sql("SELECT server_id, session_count \
                    FROM utilization \
                    WHERE session_count > 70 AND server_id = 120 \
                    ORDER BY session_count DESC")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
|      120|           80|
+---------+-------------+
only showing top 20 rows

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession \
        .builder \
        .appName("Spark SQL quesry Dataframe") \
        .getOrCreate()

In [0]:
data_path = './utilization.json'
df = spark.read.format('json').load(data_path)

In [127]:
df.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [0]:
df.createOrReplaceTempView("utilization")

In [0]:
df_count = spark.sql("SELECT COUNT(*) FROM utilization")

In [131]:
df_count.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [132]:
df_sql = spark.sql("SELECT COUNT(*) \
                    FROM utilization \
                    WHERE session_count > 70")
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [0]:
df_sql = spark.sql("SELECT server_id, COUNT(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id ")

In [136]:
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      112|    7425|
|      113|    9418|
|      130|    2891|
|      126|    6365|
|      149|    8288|
|      110|    2826|
|      136|    4316|
|      144|    6220|
|      116|    1167|
|      145|    9304|
|      143|     144|
|      107|    5646|
|      146|    7072|
|      103|    8744|
|      139|    7383|
|      114|    2128|
|      115|    5284|
|      104|    7366|
|      120|    2733|
|      128|    3719|
+---------+--------+
only showing top 20 rows

In [0]:
df_sql = spark.sql("SELECT server_id, COUNT(*) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY COUNT(*) DESC")

In [138]:
df_sql.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      121|    7084|
|      142|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [0]:
df_sql = spark.sql("SELECT server_id, min(session_count), round(avg(session_count), 2), max(session_count) \
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC")

In [142]:
df_sql.show()

+---------+------------------+----------------------------+------------------+
|server_id|min(session_count)|round(avg(session_count), 2)|max(session_count)|
+---------+------------------+----------------------------+------------------+
|      101|                71|                       87.67|               105|
|      113|                71|                       86.96|               103|
|      145|                71|                       86.98|               103|
|      103|                71|                       85.76|               101|
|      102|                71|                       85.71|               101|
|      133|                71|                       85.47|               100|
|      108|                71|                       85.12|               100|
|      149|                71|                       84.96|                99|
|      137|                71|                       85.01|                99|
|      148|                71|                        84.7|                99|
|      123|                71|                       84.53|                98|
|      118|                71|                       84.66|                98|
|      112|                71|                       83.55|                97|
|      139|                71|                       83.33|                96|
|      104|                71|                       83.35|                96|
|      121|                71|                       82.89|                95|
|      142|                71|                        82.9|                95|
|      146|                71|                       82.95|                95|
|      126|                71|                       81.56|                93|
|      144|                71|                       81.38|                92|
+---------+------------------+----------------------------+------------------+
only showing top 20 rows

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType

In [0]:
spark = SparkSession \
    .builder \
    .appName("Spark SQL Query DataFrame") \
    .getOrCreate()

In [0]:
file_path = "./utilization.json"
df_util = spark.read.format("json").load(file_path)

In [148]:
df_util.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [0]:
df_util.createOrReplaceTempView("utilization")

In [0]:
csv_df_path = "./server_name.csv"
df_server = spark.read.csv(csv_df_path, header=True)

In [152]:
df_server.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [0]:
df_server.createOrReplaceTempView("server_name")

In [0]:
df_count = spark.sql("SELECT DISTINCT server_id FROM utilization ORDER BY server_id")

In [156]:
df_count.show()

+---------+
|server_id|
+---------+
|      100|
|      101|
|      102|
|      103|
|      104|
|      105|
|      106|
|      107|
|      108|
|      109|
|      110|
|      111|
|      112|
|      113|
|      114|
|      115|
|      116|
|      117|
|      118|
|      119|
+---------+
only showing top 20 rows

In [157]:
spark.sql("SELECT min(server_id), max(server_id) FROM utilization").show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|           100|           149|
+--------------+--------------+

In [0]:
df_join = spark.sql("SELECT u.server_id, sn.server_name, u.session_count\
                    FROM utilization u \
                    INNER JOIN server_name sn \
                    ON sn.server_id = u.server_id")

In [159]:
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
|      100| 100 Server|           47|
|      100| 100 Server|           43|
|      100| 100 Server|           62|
|      100| 100 Server|           50|
|      100| 100 Server|           43|
|      100| 100 Server|           48|
|      100| 100 Server|           58|
|      100| 100 Server|           58|
|      100| 100 Server|           62|
|      100| 100 Server|           45|
|      100| 100 Server|           47|
|      100| 100 Server|           60|
|      100| 100 Server|           57|
|      100| 100 Server|           44|
|      100| 100 Server|           47|
|      100| 100 Server|           66|
|      100| 100 Server|           65|
|      100| 100 Server|           66|
|      100| 100 Server|           42|
|      100| 100 Server|           63|
+---------+-----------+-------------+
only showing top 20 rows

In [0]:
from pyspark.sql import Row

In [0]:
df_dup = sc.parallelize([Row(server_name = "101 Server", cpu_utilization=85, session_count=80), \
                         Row(server_name = "101 Server", cpu_utilization=80, session_count=90), \
                         Row(server_name = "102 Server", cpu_utilization=85, session_count=80), \
                         Row(server_name = '102 Server', cpu_utilization=85, session_count=80)]).toDF()

In [162]:
df_dup.show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 Server|           80|
|             80| 101 Server|           90|
|             85| 102 Server|           80|
|             85| 102 Server|           80|
+---------------+-----------+-------------+

In [163]:
df_dup.drop_duplicates().show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 Server|           80|
|             80| 101 Server|           90|
|             85| 102 Server|           80|
+---------------+-----------+-------------+

In [164]:
df_dup.drop_duplicates(['server_name']).show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 102 Server|           80|
|             85| 101 Server|           80|
+---------------+-----------+-------------+

In [0]:
from pyspark.sql import Row
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [0]:
df_dup = sc.parallelize([Row(server_name = "101 Server", cpu_utilization=85, session_count=80), \
                         Row(server_name = "101 Server", cpu_utilization=80, session_count=90), \
                         Row(server_name = "102 Server", cpu_utilization=85, session_count=80), \
                         Row(server_name = '102 Server', cpu_utilization=85, session_count=80)]).toDF()

In [169]:
df_dup.show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 Server|           80|
|             80| 101 Server|           90|
|             85| 102 Server|           80|
|             85| 102 Server|           80|
+---------------+-----------+-------------+

In [0]:
df_na =df_dup.withColumn('na_col', lit(None).cast(StringType()))

In [172]:
df_na.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           80|  null|
|             85| 102 Server|           80|  null|
+---------------+-----------+-------------+------+

In [173]:
df_na.fillna('A').show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           80|     A|
|             85| 102 Server|           80|     A|
+---------------+-----------+-------------+------+

In [174]:
df2 = df_na.fillna("A").union(df_na)
df2.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           80|     A|
|             85| 102 Server|           80|     A|
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           80|  null|
|             85| 102 Server|           80|  null|
+---------------+-----------+-------------+------+

In [175]:
df2.na.drop().show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           80|     A|
|             85| 102 Server|           80|     A|
+---------------+-----------+-------------+------+

In [0]:
df2.createOrReplaceTempView("na_table")

In [177]:
spark.sql("SELECT * FROM na_table").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           80|     A|
|             85| 102 Server|           80|     A|
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           80|  null|
|             85| 102 Server|           80|  null|
+---------------+-----------+-------------+------+

In [178]:
spark.sql("SELECT * FROM na_table WHERE na_col is NULL").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           80|  null|
|             85| 102 Server|           80|  null|
+---------------+-----------+-------------+------+

In [179]:
spark.sql("SELECT * FROM na_table WHERE na_col is NOT NULL").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           80|     A|
|             85| 102 Server|           80|     A|
+---------------+-----------+-------------+------+

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.getOrCreate()

In [0]:
file_path = './utilization.json'
df_util = spark.read.format('json').load(file_path)

In [183]:
df_util.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [0]:
df_util.createOrReplaceTempView('utilization')

In [185]:
df_util.count()

500000

In [187]:
df.describe().show()

+-------+-------------------+-------------------+-------------------+-----------------+------------------+
|summary|    cpu_utilization|     event_datetime|        free_memory|        server_id|     session_count|
+-------+-------------------+-------------------+-------------------+-----------------+------------------+
|  count|             500000|             500000|             500000|           500000|            500000|
|   mean| 0.6205177399999506|               null|0.37912809999999125|            124.5|          69.59616|
| stddev|0.15875173872913045|               null|0.15830931278376167|14.43088412055242|14.850676696352812|
|    min|               0.22|03/05/2019 08:06:14|                0.0|              100|                32|
|    max|                1.0|04/09/2019 01:22:46|               0.78|              149|               105|
+-------+-------------------+-------------------+-------------------+-----------------+------------------+

In [188]:
df_util.stat.corr('cpu_utilization', 'free_memory')

-0.47047715730806877

In [189]:
df_util.stat.corr('session_count', 'free_memory')

-0.5008320848876718

In [190]:
df_util.stat.freqItems(('server_id', 'session_count')).show()

+--------------------+-----------------------+
| server_id_freqItems|session_count_freqItems|
+--------------------+-----------------------+
|[137, 146, 101, 1...|   [92, 101, 83, 104...|
+--------------------+-----------------------+

In [0]:
df_util_sample = df_util.sample(fraction=0.05, withReplacement=False)

In [192]:
df_util_sample.count()

25157

In [193]:
spark.sql("SELECT min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) FROM utilization").show()

+--------------------+--------------------+----------------------------+
|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+--------------------+--------------------+----------------------------+
|                0.22|                 1.0|         0.15875173872913045|
+--------------------+--------------------+----------------------------+

In [195]:
spark.sql("SELECT server_id, min(cpu_utilization), max(cpu_utilization), stddev(cpu_utilization) \
           FROM utilization \
           GROUP BY server_id").show()

+---------+--------------------+--------------------+----------------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+---------+--------------------+--------------------+----------------------------+
|      112|                0.52|                0.92|         0.11528867845082576|
|      113|                0.58|                0.98|         0.11544345150353694|
|      130|                0.35|                0.75|         0.11568834774245967|
|      126|                0.48|                0.88|         0.11542612970702051|
|      149|                0.54|                0.94|         0.11543517500295467|
|      110|                0.35|                0.75|         0.11533251724450215|
|      136|                0.41|                 0.8|         0.11597405743182258|
|      144|                0.47|                0.87|         0.11478654960489501|
|      119|                0.22|                0.62|         0.11516031929842008|
|      116|                 0.3|                 0.7|         0.11506079722349302|
|      145|                0.58|                0.98|         0.11476448868786197|
|      124|                0.24|                0.64|         0.11579377614906383|
|      143|                0.26|                0.66|         0.11616596078044727|
|      107|                0.45|                0.85|         0.11597417369783877|
|      146|                 0.5|                 0.9|         0.11488129439634706|
|      103|                0.56|                0.96|         0.11617507884178278|
|      139|                0.51|                0.91|         0.11519660023052102|
|      138|                0.24|                0.64|          0.1155955860444133|
|      114|                0.33|                0.73|         0.11510268816097273|
|      115|                0.44|                0.84|         0.11569664615014985|
+---------+--------------------+--------------------+----------------------------+
only showing top 20 rows

In [196]:
spark.sql("SELECT server_id, FLOOR(cpu_utilization*100/10) bucket FROM utilization").show()

+---------+------+
|server_id|bucket|
+---------+------+
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     4|
|      100|     5|
|      100|     4|
|      100|     5|
|      100|     5|
|      100|     3|
|      100|     6|
|      100|     6|
|      100|     5|
|      100|     2|
|      100|     4|
|      100|     4|
|      100|     6|
|      100|     4|
|      100|     5|
+---------+------+
only showing top 20 rows

In [197]:
spark.sql("SELECT COUNT(*), FLOOR(cpu_utilization*100/10) bucket FROM utilization \
          GROUP BY bucket ORDER BY bucket").show()

+--------+------+
|count(1)|bucket|
+--------+------+
|    8186|     2|
|   37029|     3|
|   68046|     4|
|  104910|     5|
|  116725|     6|
|   88242|     7|
|   56598|     8|
|   20207|     9|
|      57|    10|
+--------+------+

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.getOrCreate()

In [0]:
file_path = './utilization.json'
df_util = spark.read.format('json').load(file_path)

In [0]:
df_util.createOrReplaceTempView('utilization')

In [202]:
spark.sql("SELECT server_id, min(cpu_utilization), max(cpu_utilization), \
           stddev(cpu_utilization) \
           FROM utilization \
           GROUP BY server_id").show()

+---------+--------------------+--------------------+----------------------------+
|server_id|min(cpu_utilization)|max(cpu_utilization)|stddev_samp(cpu_utilization)|
+---------+--------------------+--------------------+----------------------------+
|      112|                0.52|                0.92|         0.11528867845082576|
|      113|                0.58|                0.98|         0.11544345150353694|
|      130|                0.35|                0.75|         0.11568834774245967|
|      126|                0.48|                0.88|         0.11542612970702051|
|      149|                0.54|                0.94|         0.11543517500295467|
|      110|                0.35|                0.75|         0.11533251724450215|
|      136|                0.41|                 0.8|         0.11597405743182258|
|      144|                0.47|                0.87|         0.11478654960489501|
|      119|                0.22|                0.62|         0.11516031929842008|
|      116|                 0.3|                 0.7|         0.11506079722349302|
|      145|                0.58|                0.98|         0.11476448868786197|
|      124|                0.24|                0.64|         0.11579377614906383|
|      143|                0.26|                0.66|         0.11616596078044727|
|      107|                0.45|                0.85|         0.11597417369783877|
|      146|                 0.5|                 0.9|         0.11488129439634706|
|      103|                0.56|                0.96|         0.11617507884178278|
|      139|                0.51|                0.91|         0.11519660023052102|
|      138|                0.24|                0.64|          0.1155955860444133|
|      114|                0.33|                0.73|         0.11510268816097273|
|      115|                0.44|                0.84|         0.11569664615014985|
+---------+--------------------+--------------------+----------------------------+
only showing top 20 rows

In [0]:
sql_window = spark.sql("SELECT event_datetime, server_id, cpu_utilization, \
          avg(cpu_utilization) OVER (PARTITION BY server_id) avg_server_util \
          FROM utilization")

In [206]:
sql_window.show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:34|      112|           0.71|0.7153870000000067|
|03/05/2019 08:11:34|      112|           0.78|0.7153870000000067|
|03/05/2019 08:16:34|      112|           0.87|0.7153870000000067|
|03/05/2019 08:21:34|      112|           0.82|0.7153870000000067|
|03/05/2019 08:26:34|      112|           0.62|0.7153870000000067|
|03/05/2019 08:31:34|      112|            0.9|0.7153870000000067|
|03/05/2019 08:36:34|      112|           0.89|0.7153870000000067|
|03/05/2019 08:41:34|      112|           0.81|0.7153870000000067|
|03/05/2019 08:46:34|      112|           0.88|0.7153870000000067|
|03/05/2019 08:51:34|      112|           0.89|0.7153870000000067|
|03/05/2019 08:56:34|      112|           0.84|0.7153870000000067|
|03/05/2019 09:01:34|      112|           0.71|0.7153870000000067|
|03/05/2019 09:06:34|      112|           0.85|0.7153870000000067|
|03/05/2019 09:11:34|      112|           0.72|0.7153870000000067|
|03/05/2019 09:16:34|      112|           0.54|0.7153870000000067|
|03/05/2019 09:21:34|      112|           0.58|0.7153870000000067|
|03/05/2019 09:26:34|      112|           0.73|0.7153870000000067|
|03/05/2019 09:31:34|      112|           0.86|0.7153870000000067|
|03/05/2019 09:36:34|      112|           0.63|0.7153870000000067|
|03/05/2019 09:41:34|      112|           0.75|0.7153870000000067|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

In [0]:
sql_window2 = spark.sql("SELECT event_datetime, server_id, cpu_utilization, \
          avg(cpu_utilization) OVER (PARTITION BY server_id) avg_server_util, \
          cpu_utilization - avg(cpu_utilization) OVER (PARTITION BY server_id) delta_server_util \
          FROM utilization")

In [210]:
sql_window2.show()

+-------------------+---------+---------------+------------------+--------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|   delta_server_util|
+-------------------+---------+---------------+------------------+--------------------+
|03/05/2019 08:06:34|      112|           0.71|0.7153870000000067|-0.00538700000000...|
|03/05/2019 08:11:34|      112|           0.78|0.7153870000000067| 0.06461299999999337|
|03/05/2019 08:16:34|      112|           0.87|0.7153870000000067| 0.15461299999999334|
|03/05/2019 08:21:34|      112|           0.82|0.7153870000000067|  0.1046129999999933|
|03/05/2019 08:26:34|      112|           0.62|0.7153870000000067|-0.09538700000000666|
|03/05/2019 08:31:34|      112|            0.9|0.7153870000000067| 0.18461299999999337|
|03/05/2019 08:36:34|      112|           0.89|0.7153870000000067| 0.17461299999999336|
|03/05/2019 08:41:34|      112|           0.81|0.7153870000000067|  0.0946129999999934|
|03/05/2019 08:46:34|      112|           0.88|0.7153870000000067| 0.16461299999999335|
|03/05/2019 08:51:34|      112|           0.89|0.7153870000000067| 0.17461299999999336|
|03/05/2019 08:56:34|      112|           0.84|0.7153870000000067| 0.12461299999999331|
|03/05/2019 09:01:34|      112|           0.71|0.7153870000000067|-0.00538700000000...|
|03/05/2019 09:06:34|      112|           0.85|0.7153870000000067| 0.13461299999999332|
|03/05/2019 09:11:34|      112|           0.72|0.7153870000000067|0.004612999999993317|
|03/05/2019 09:16:34|      112|           0.54|0.7153870000000067|-0.17538700000000662|
|03/05/2019 09:21:34|      112|           0.58|0.7153870000000067| -0.1353870000000067|
|03/05/2019 09:26:34|      112|           0.73|0.7153870000000067|0.014612999999993326|
|03/05/2019 09:31:34|      112|           0.86|0.7153870000000067| 0.14461299999999333|
|03/05/2019 09:36:34|      112|           0.63|0.7153870000000067|-0.08538700000000665|
|03/05/2019 09:41:34|      112|           0.75|0.7153870000000067|0.034612999999993344|
+-------------------+---------+---------------+------------------+--------------------+
only showing top 20 rows

In [0]:
sql_window3 = spark.sql("SELECT event_datetime, server_id, cpu_utilization, \
                          avg(cpu_utilization) OVER (PARTITION BY server_id \
                          ORDER BY event_datetime \
                          ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING )avg_server_util \
                          FROM utilization")

In [213]:
sql_window3.show()

+-------------------+---------+---------------+------------------+
|     event_datetime|server_id|cpu_utilization|   avg_server_util|
+-------------------+---------+---------------+------------------+
|03/05/2019 08:06:34|      112|           0.71|             0.745|
|03/05/2019 08:11:34|      112|           0.78|0.7866666666666666|
|03/05/2019 08:16:34|      112|           0.87|0.8233333333333333|
|03/05/2019 08:21:34|      112|           0.82|              0.77|
|03/05/2019 08:26:34|      112|           0.62|0.7799999999999999|
|03/05/2019 08:31:34|      112|            0.9|0.8033333333333333|
|03/05/2019 08:36:34|      112|           0.89|0.8666666666666667|
|03/05/2019 08:41:34|      112|           0.81|              0.86|
|03/05/2019 08:46:34|      112|           0.88|              0.86|
|03/05/2019 08:51:34|      112|           0.89|              0.87|
|03/05/2019 08:56:34|      112|           0.84|0.8133333333333334|
|03/05/2019 09:01:34|      112|           0.71|0.7999999999999999|
|03/05/2019 09:06:34|      112|           0.85|0.7600000000000001|
|03/05/2019 09:11:34|      112|           0.72|0.7033333333333333|
|03/05/2019 09:16:34|      112|           0.54|0.6133333333333333|
|03/05/2019 09:21:34|      112|           0.58|0.6166666666666667|
|03/05/2019 09:26:34|      112|           0.73|0.7233333333333333|
|03/05/2019 09:31:34|      112|           0.86|0.7399999999999999|
|03/05/2019 09:36:34|      112|           0.63|0.7466666666666667|
|03/05/2019 09:41:34|      112|           0.75|0.6999999999999998|
+-------------------+---------+---------------+------------------+
only showing top 20 rows

In [0]:
from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

In [0]:
spark =SparkSession.builder.getOrCreate()

In [0]:
file_path = './utilization.json'
df_util = spark.read.format('json').load(file_path)

In [217]:
df_util.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [0]:
vectorAssembler = VectorAssembler(inputCols= ['cpu_utilization', 'free_memory', 'session_count'], outputCol = 'features')

In [0]:
vcluster = vectorAssembler.transform(df_util)

In [221]:
vcluster.show()

+---------------+-------------------+-----------+---------+-------------+----------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|        features|
+---------------+-------------------+-----------+---------+-------------+----------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|[0.57,0.51,47.0]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|[0.47,0.62,43.0]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|[0.56,0.57,62.0]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|[0.57,0.56,50.0]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|[0.35,0.46,43.0]|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|[0.41,0.58,48.0]|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|[0.57,0.35,58.0]|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58| [0.41,0.4,58.0]|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|[0.53,0.35,62.0]|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45| [0.51,0.6,45.0]|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|[0.32,0.37,47.0]|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|[0.62,0.59,60.0]|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|[0.66,0.72,57.0]|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|[0.54,0.54,44.0]|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47| [0.29,0.4,47.0]|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|[0.43,0.68,66.0]|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|[0.49,0.66,65.0]|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|[0.64,0.55,66.0]|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42| [0.42,0.6,42.0]|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|[0.55,0.59,63.0]|
+---------------+-------------------+-----------+---------+-------------+----------------+
only showing top 20 rows

In [0]:
kmeans = KMeans().setK(3)

In [0]:
kmeans = kmeans.setSeed(1)

In [0]:
kmodel = kmeans.fit(vcluster)

In [226]:
kmodel.clusterCenters()

[array([ 0.61918113,  0.38080285, 68.75004716]),
 array([ 0.71174897,  0.28808911, 86.87510507]),
 array([ 0.51439668,  0.48445202, 50.49452021])]

In [0]:
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

In [0]:
spark = SparkSession.builder.getOrCreate()

In [0]:
file_path = './utilization.json'

In [0]:
df_util = spark.read.format('json').load(file_path)

In [0]:
vectorAssembler = VectorAssembler(inputCols=['cpu_utilization'], outputCol='features')

In [0]:
df_vutil = vectorAssembler.transform(df_util)

In [234]:
df_vutil.show()

+---------------+-------------------+-----------+---------+-------------+--------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|features|
+---------------+-------------------+-----------+---------+-------------+--------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|  [0.57]|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|  [0.47]|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|  [0.56]|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|  [0.57]|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|  [0.35]|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|  [0.41]|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|  [0.57]|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|  [0.41]|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|  [0.53]|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|  [0.51]|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|  [0.32]|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|  [0.62]|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|  [0.66]|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|  [0.54]|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|  [0.29]|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|  [0.43]|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|  [0.49]|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|  [0.64]|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|  [0.42]|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|  [0.55]|
+---------------+-------------------+-----------+---------+-------------+--------+
only showing top 20 rows

In [0]:
lr = LinearRegression(featuresCol='features', labelCol='session_count')

In [0]:
lrModel = lr.fit(df_vutil)

In [238]:
lrModel.coefficients

DenseVector([47.024])

In [239]:
lrModel.intercept

40.41695103550973

In [240]:
lrModel.summary.rootMeanSquaredError

12.83799022593113